*{
    margin: 0;
    padding: 0;
  }

.top{
 height: 25vh;
 width: 100%;
 background-image:url(../images/btkbackg.jpg);
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 0px 0 0px;
  padding: 7px 0 7px;
  text-align: center;
  background: rgb(0, 0, 0);
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 5px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #ffffff;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 3px;
  top: auto;
  right: 50%;
  bottom: -2px;
  left: 50%;
  background: #fffffff1;
  transition: .3s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}

.rules{
  padding-top: 5vh;
}
.ulrules{
  color: #333;
  line-height: 30px;
  font-size: 17px;
  font-family: 'Montserrat',sans-serif;
  list-style-type: circle;
}




.push { 
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 3vh;
  list-style: none;
  font-family: 'Montserrat',sans-serif;
}
.push li {
  position: relative;
  padding: 20px 0 20px 40px;
  color: #333;
  font-variant: small-caps;
  font-weight: 100;
  cursor: pointer;
}
.push li:before {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #4F5151;
  content: "";
  left: 0;
  transition: .3s;
  top: 27px;
}
.push li:after {
  position: absolute;
  border-left: 1px dotted #4F5151;
  width: 1px;
  bottom: -12px;
  content: "";
  left: 3px;
  top: 48px;
}
.push li:hover:before{box-shadow: 0 0 0 10px rgba(0,0,0,.2)}
.push li:last-child:after {content: none;}
.ul{
  align-items: center;
}
.podpush{
  margin-left: 50px;
}

.discord{
  max-width: 1400px;
  padding-top: 3vh;
  font-family: 'Montserrat',sans-serif;
  line-height: 30px;
  font-size: 17px;
}
.discordtext{
  max-width: 1400px;
  padding-top: 3vh;
  font-family: 'Montserrat',sans-serif;
  line-height: 30px;
  font-size: 17px;
  width: 80%;
}