*{
    margin: 0;
    padding: 0;
  }
  h2{
    text-align: center;
    margin: 3vh;
    font-family: 'Montserrat',sans-serif;
    font-size: 40px;
    font-weight: 600;
  }

.top{
 height: 25vh;
 width: 100%;
 background-image:url(../images/btkbackg.jpg);
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 0px 0 0px;
  padding: 7px 0 7px;
  text-align: center;
  background: rgb(0, 0, 0);
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 5px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #ffffff;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 3px;
  top: auto;
  right: 50%;
  bottom: -2px;
  left: 50%;
  background: #fffffff1;
  transition: .3s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   


.rules{
  padding-top: 5vh;
}
.ulrules{
  color: #333;
  line-height: 30px;
  font-size: 17px;
  font-family: 'Montserrat',sans-serif;
  list-style-type: circle;
}






@media (max-width: 678px) {
  .menu-main {padding-top: 0;}
  .menu-main li {display: block;}
  .menu-main li:after {content: none;}
  .menu-main a {
    padding: 10px 0 10px; 
    margin: 0 10px;
  }

  .menu-main a:before,
  .menu-main a:after {
    height: 2px;
    bottom: 2px;

  }



  .tournamentscs4{
    width: 90%;
  }
  .tournamentsdbd4{
    width: 90%;
  }
  }


  


.push { 
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 3vh;
  list-style: none;
  font-family: 'Montserrat',sans-serif;
}
.push li {
  position: relative;
  padding: 20px 0 20px 40px;
  color: #333;
  font-variant: small-caps;
  font-weight: 100;
  cursor: pointer;
}
.push li:before {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #4F5151;
  content: "";
  left: 0;
  transition: .3s;
  top: 27px;
}
.push li:after {
  position: absolute;
  border-left: 1px dotted #4F5151;
  width: 1px;
  bottom: -12px;
  content: "";
  left: 3px;
  top: 48px;
}
.push li:hover:before{box-shadow: 0 0 0 10px rgba(0,0,0,.2)}
.push li:last-child:after {content: none;}
.ul{
  align-items: center;
}
.podpush{
  margin-left: 50px;
}

.discord{
  max-width: 1400px;
  padding-top: 3vh;
  font-family: 'Montserrat',sans-serif;
  line-height: 30px;
  font-size: 17px;
}
.discordtext{
  max-width: 1400px;
  padding-top: 3vh;
  font-family: 'Montserrat',sans-serif;
  line-height: 30px;
  font-size: 17px;
  width: 80%;
}

 
.tournamentscs1{
  width: 60%;
  border-radius: 20px;
  margin: 1vh;
  box-shadow: 0 0 5px  black;
}


.tournamentscs1:hover{
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.589);
  transition: 0.6s;
}


 .tournamentscs2{
  width: 60%;
  border-radius: 20px;
  margin: 1vh;
  box-shadow: 0 0 5px  black;
 }

 .tournamentscs2:hover{
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.589);
  transition: 0.6s;
}


.tournamentscs3 {
  width: 60%;
  border-radius: 20px;
  margin: 1vh;
  box-shadow: 0 0 5px  black;
}

.tournamentscs3:hover{
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.589);
  transition: 0.6s;
}


.tournamentscs4 {
  width: 60%;
  border-radius: 20px;
  margin: 1vh;
  box-shadow: 0 0 5px  black;
  }

  .tournamentscs4:hover{
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.589);
    transition: 0.6s;
  }

      

      @media (min-width:1025px) and (max-width:1600px){
        .tournamentscs1{
          display: none;
        }
        .tournamentscs3{
          display: none;
        }
        .tournamentscs4{
          display: none;
        }
        .tournamentsdbd1{
          display: none;
        }
        .tournamentsdbd3{
          display: none;
        }
        .tournamentsdbd4{
          display: none;
        }
      }
      @media (min-width:1601px){
        .tournamentscs2{
          display: none;
        }
        .tournamentscs3{
          display: none;
        }
        .tournamentscs4{
          display: none;
        }
        .tournamentsdbd2{
          display: none;
        }
        .tournamentsdbd3{
          display: none;
        }
        .tournamentsdbd4{
          display: none;
        }

      }

      @media(min-width:768px) and (max-width:1024px){
        .tournamentscs1{
          display: none;
        }
        .tournamentscs2{
          display: none;
        }
        .tournamentscs4{
          display: none;
        }
        .tournamentsdbd1{
          display: none;
        }
        .tournamentsdbd2{
          display: none;
        }
        .tournamentsdbd4{
          display: none;
        }
      }
      @media(max-width:767px){
        .tournamentscs1{
          display: none;
        }
        .tournamentscs2{
          display: none;
        }
        .tournamentscs3{
          display: none;
        }

        .tournamentscs4{
          width: 80%;
        }


        .tournamentsdbd1{
          display: none;
        }
        .tournamentsdbd2{
          display: none;
        }
        .tournamentsdbd3{
          display: none;
        }
        .tournamentsdbd4{
          width: 80%;
        }
      } 

.tournamentsdbd1{
  width: 60%;
  border-radius: 20px;
  margin: 1vh;
  box-shadow: 0 0 5px  black;
}

.tournamentsdbd1:hover{
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.589);
  transition: 0.6s;
}
.tournamentsdbd2{
  width: 60%;
  border-radius: 20px;
  margin: 1vh;
  box-shadow: 0 0 5px  black;
}

.tournamentsdbd2:hover{
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.589);
  transition: 0.6s;
}


.tournamentsdbd3{
  width: 60%;
  border-radius: 20px;
  margin: 1vh;
  box-shadow: 0 0 5px  black;
}

.tournamentsdbd3:hover{
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.589);
  transition: 0.6s;
}


.tournamentsdbd4{
  border-radius: 20px;
  margin: 1vh;
  box-shadow: 0 0 5px  black;
}

.tournamentsdbd4:hover{
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.589);
  transition: 0.6s;
}


body.dbdback{
  background-color: rgb(24, 24, 24);
  background-repeat: no-repeat;
  background-size: 100%;
}




.post-wrap {
  padding-top: 4vh;
	max-width: 1120px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.post-item {
	padding: 15px;	
	cursor: pointer;
}
.post-item * {
	transition: .3s linear;
}
.item-content {
	background: rgb(70, 70, 70);
    padding: 40px;
}
.item-icon {
	margin-bottom: 20px;
}
.item-icon:before {
	content: "";
	font-family: 'Montserrat',sans-serif;
	color: rgb(255, 255, 255);
	font-size: 50px;
	line-height: 1;
}
.item-icon.photo:before {
	content: "\f030";
}
.item-icon.video:before {
	content: "\f03d";
}
.item-icon.gift:before {
	content: "\f06b";
}
.item-icon.group:before {
	content: "\f0c0";
}
.item-icon.tree:before {
	content: "\f1bb";
}
.item-icon.anchor:before {
	content: "\f13d";
}
.post-item:hover .item-icon,
.post-item:hover .item-body h3,
.post-item:hover .item-body p {
	transform: translateY(-8px);
}
.item-body {
	color: #fff;
	font-size: 15px;
}
.item-body h3 {
	font-weight: 500;
    margin-bottom: 15px;
	transition-delay: .05s;
}
.item-body p {
	transition-delay: .1s;
}
.item-footer {
	padding-top: 15px;
}
.link {  
	text-decoration: none;	
    display: inline-block; 
	overflow: hidden;	
	position: relative;
	padding-right: 30px;
	font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #F5E2CD;
}
.link:before {    
    content: "";
    position: absolute;
    top: 0;
	left: 0;
    width: 100%;
	bottom: 0;
    height: .125rem;
	margin: auto;
	background: rgb(255, 255, 255);
    transform: scaleX(.2);
    transform-origin: left center;
    z-index: 0;
	transition: .6s cubic-bezier(.6, .01, 0, 1);
}
.link span {
	display: inline-block;
    position: relative;
    transform: translateX(-200%);    
    transition: .6s cubic-bezier(.6, .01, 0, 1);
}
.post-item:hover .link span {
    transform: translateX(0%);
}
.post-item:hover .link:before {
	transform-origin: right center;
}
@media (min-width: 768px) {
	.post-item {
		flex-basis: 50%;
		flex-shrink: 0;				
	}
}
@media (min-width: 960px) {
	.post-item {
		flex-basis: 33.333333333%;			
	}
}


  
  .about{
    color: black;
  width: 60% ;
  font-weight: 100;
  font-size: 1.188em;
  line-height: 1.625em;
  z-index: 20;
    position: relative;
    margin: 2em ;
    font-family: Arial, sans-serif;
  }

.admins{
  /* font-weight: 100;
  font-size: 1.188em;
  font-family: Arial, sans-serif;
background-color: rgb(49, 49, 49);
color: white;
padding: 1.55em 0 1.55em 0;
width: 100%; */

margin-bottom: 2em;
font-size: 35px;
font-family: Arial, sans-serif;
font-weight: normal;
cursor: default;
text-shadow: 1px 1px 0 rgb(0, 0, 0),
             1px -1px 0 rgb(0, 0, 0),
             -1px 1px 0 rgb(0, 0, 0),
            -1px -1px 0 rgb(0, 0, 0);
color: white;
transition: all 1s;
}
.admins:hover {
  text-shadow: 1px 1px 0 rgb(205, 50, 50),
               1px -1px 0 rgb(205, 50, 50),
               -1px 1px 0 rgb(205, 50, 50),
              -1px -1px 0 rgb(205, 50, 50);
  color: rgb(255, 255, 255);
}
